<header class="site-header">
  <div class="site-header-inner">
    <a class="site-title" href="/blog/">
      <img src="/icon.png" alt="" />
      {{ site.title }}
    </a>
    <nav class="site-nav">
      <a href="/">Crob Apps</a>
      <a href="/blog/">Blog</a>
      <a class="site-nav-app" href="https://play.google.com/store/apps/details?id=com.crobapps.taptappicturebook" target="_blank" rel="noopener">
        <img src="/tap-tap-picture-book/src/icon.png" alt="" />
        Tap Tap Picture Book
      </a>
    </nav>
  </div>
</header>
